
$colorWhite1 : #ffe5e5;
$colorGray : #515151;
$colorGray2 : #707070;
$colorBlack : #000000;
$colorBlack2 : #131316;
$colorYellow : #ffcf00;
$colorYellow2 : #ffe600;
$backgroundWhite : #fbfbfb;
$backgroundDark : #131a1d;



